* {
    box-sizing: border-box;
}

header {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px;
    padding: 30px 60px;
    background-color: rgb(255, 255, 255);
    -moz-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
    -moz-box-align: center;
    align-items: center;
    display: flex;
}
.logo{
    margin-right: auto;
}
.logo img{
    max-width: 150px;
    backface-visibility: hidden;
    display: block;
}
.right_panel{
    margin-right: 20px;
    -moz-box-align: center;
    align-items: center;
}
.right_panel button{
        padding-right: 25px;
        padding-left: 25px;
        background-color: rgb(0, 197, 141);
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        padding-bottom: 12px;
        padding-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        cursor: pointer;
        transition-property: background;
        -moz-appearance: none;
        text-decoration: none;
        display: inline-flex;
        outline: currentcolor none medium;
        border-style: none;
        border-width: 0px;
        transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
        transition-duration: 0.25s;
        line-height: 24px;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: "Lato", sans-serif;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
}
.profile{
        flex-shrink: 0;
        overflow: hidden;
        border: 2px solid rgb(255, 255, 255);
        height: 60px;
        width: 60px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
}
section{
        height: calc(-108px + 100vh);
        -moz-box-align: start;
        align-items: flex-start;
        width: 100%;
        display: flex;
}
.left{
    height: calc(-108px + 100vh);
    height: auto;
    width: 270px;
    flex-shrink: 0;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    display: flex;
}
select{
    max-width: 20%;
    min-height:40px;
    margin-bottom: 10px;
}
.left_in{
    overflow-y: auto;
    padding: 45px 0px;
    -moz-box-align: end;
    align-items: flex-end;
    height: 100%;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.left_in .active{
    color: rgb(0, 197, 141);
    background-color: rgb(247, 247, 247);
    border-radius: 50px 0px 0px 50px;
    transition: all 0.15s ease-in-out 0s;
    padding: 20px 55px 20px 30px;
    outline: currentcolor none 0px;
    width: calc(100% - 30px);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    -moz-box-align: center;
    align-items: center;
    display: flex; 
}
.left_in .normal{
    transition: all 0.15s ease-in-out 0s;
    padding: 20px 55px 20px 30px;
    outline: currentcolor none 0px;
    width: calc(100% - 30px);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(22, 31, 106);
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    -moz-box-align: center;
    align-items: center;
    display: flex;
}
#logout{
        margin-bottom: 25px;
        margin-top: auto;
        border: 0px none;
        transition: all 0.15s ease-in-out 0s;
        padding: 20px 55px 20px 30px;
        outline: currentcolor none 0px;
        width: calc(100% - 30px);
        margin-left: auto;
        cursor: pointer;
        text-decoration: none;
        background-color: transparent;
        font-size: 16px;
        font-weight: 700;
        color: rgb(22, 31, 106);
        line-height: 1.5;
        font-family: "Lato", sans-serif;
        -moz-box-align: center;
        align-items: center;
        display: flex;
}
.right{
    width: calc(100% - 270px);
    background-color: rgb(247, 247, 247);
    height: 100%;
    width: 100%;
    display: flex;
}
.right_in{
        padding: 45px 30px;
        height: auto;
        width: 100%;
}
.container{
    padding-right: 16px;
padding-left: 16px;
}
.row{
    margin: 0px -15px 30px;
    box-sizing: border-box;
display: flex;
flex: 0 1 auto;
flex-direction: row;
flex-wrap: wrap;
margin-right: -8px;
margin-left: -8px;
margin-bottom: 0px;
}
.full-md{
    display: flex;
    flex-basis: 100%;
max-width: 100%;
flex-wrap: wrap;
}
.cart{
    margin: 15px 0px;
    padding: 0px 15px;
    box-sizing: border-box;
flex: 0 0 auto;
    flex-basis: auto;
padding-right: 8px;
padding-left: 8px;
flex-basis: 25%;
max-width: 25%;
}
.cart-in{
        height: 100%;
        cursor: pointer;
        font-family: "Lato", sans-serif;
        background-color: rgb(255, 255, 255);
        position: relative;
        width: 100%;
}
.cart-in_top{
    padding: 5px;
    height: 240px;
    overflow: hidden;
    position: relative;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    display: flex;
}
.cart-in_top img{
        max-height: 100%;
        max-width: 100%;
        display: inline-block;
}
.sale{
        right: 15px;
        top: 15px;
        border-radius: 12px;
        padding: 0px 10px;
        color: rgb(255, 255, 255);
        line-height: 2;
        font-size: 12px;
        position: absolute;
        font-weight: 700;
        font-family: "Lato", sans-serif;
        display: inline-block;
}
.discount{
        right: 0px;
        bottom: 10px;
        padding-right: 15px;
        padding-left: 20px;
        background-color: rgb(252, 92, 99);
        color: rgb(255, 255, 255);
        line-height: 2;
        font-size: 12px;
        position: absolute;
        font-weight: 700;
        font-family: "Lato", sans-serif;
        display: inline-block;
}
.cart-in_bottom{
    padding: 20px 25px 30px;
}
.cart-in_bottom h3{
    min-height: 48px;
    margin: 0px 0px 7px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(22, 31, 106);
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}
.cart-in_bottom span{
        color: rgb(102, 109, 146);
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        font-family: "Lato", sans-serif;
}
.price_detail{
    margin-top: 15px;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    display: flex;
}
.price_detail .normal_price{
    color: rgb(0, 197, 141);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}
.price_detail .discount_price{
    margin: 0px 10px;
    padding: 0px 5px;
    font-size: 11px;
    color: rgb(102, 109, 146);
    overflow: hidden;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    position: relative;
    right: 70%;
    text-decoration: line-through;
}
#adprx:hover{
    color: rgb(0, 197, 141);
    background-color: #fff;
}
#adprx{
    cursor: pointer;
    background: #fff;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 92, 99);
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    min-height: 60px;
    position: absolute;
    border: 1px solid black;
    left: -40px;
    top: 20px;
    font-size: 25px;
}
#adprxC:hover{
    color: rgb(0, 197, 141);
    background-color: #fff;
}
#adprxC{
    cursor: pointer;
    background: #fff;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 92, 99);
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    min-height: 60px;
    position: absolute;
    border: 1px solid black;
    left: -40px;
    top: 20px;
    font-size: 25px;
}
.addCategory{
    transform: translateX(0px);
    transition-property: opacity, transform;
    width: 85vw;
    position: fixed;
    opacity: 1;
    top: 0px;
    right: 0px;
    max-height: 100%;
    background-color: rgb(247, 247, 247);
    height: 100%;
    max-width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    display: flex;
}
.addProduct{
    transform: translateX(0px);
    transition-property: opacity, transform;
    width: 85vw;
    position: fixed;
    opacity: 1;
    top: 0px;
    right: 0px;
    max-height: 100%;
    background-color: rgb(247, 247, 247);
    height: 100%;
    max-width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    display: flex;
}
.sendarea{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
        bottom: 0px;
        position: fixed;
        right: 0px;
        padding: 30px 60px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        -moz-box-align: center;
        align-items: center;
        display: flex;
}
.sendbtn{
    width: 50%;
    background-color: rgb(0, 197, 141);
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    transition-property: background;
    -moz-appearance: none;
    text-decoration: none;
    display: inline-flex;
    outline: currentcolor none medium;
    border-style: none;
    border-width: 0px;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    transition-duration: 0.25s;
    line-height: 24px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: "Lato", sans-serif;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.cancelbtn{
        width: 50%;
        color: rgb(252, 92, 99);
        margin-right: 15px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 12px;
        padding-top: 12px;
        margin-left: 0px;
        cursor: pointer;
        transition-property: background;
        -moz-appearance: none;
        text-decoration: none;
        display: inline-flex;
        outline: currentcolor none medium;
        border-style: none;
        border-width: 0px;
        background-color: transparent;
        transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
        transition-duration: 0.25s;
        line-height: 24px;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: "Lato", sans-serif;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
}
.appProduct .middle{
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 80px;
    line-height: 20px;
    overflow: auto;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    width: 100%;
}
.content{
        position: fixed;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: normal;
        font-size: 14px;
        font-family: "Lato", sans-serif;
}
.content h3{
    margin: 0px;
    font-weight: 700;
    color: rgb(22, 31, 106);
    line-height: 1.5;
    font-size: 18px;
    font-family: "Lato", sans-serif;
}
.middle form{
    height: 100%;
    padding-bottom: 100px;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}
.middle form .area{
    position: relative;
overflow: hidden;
width: 100%;
}
.middle form .area-in{
    position: relative;
    inset: 0px;
    top: 0px;
    overflow: hidden scroll;
    margin-right: -17px;
    min-height: 1000px;
    margin-bottom: -17px;
    left: 150px;
}
.row{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}
.row .left{
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}
.middle{
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 80px;
    line-height: 20px;
    overflow: auto;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    width: 100%;
}
.left span{
        padding: 47px 0px 15px;
        color: rgb(102, 109, 146);
        font-size: 14px;
        line-height: 2.5;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        display: block;
        margin-left: 10px;
}
.row .right{
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}
.right .detail{
        height: auto;
        background-color: rgb(255, 255, 255);
        border-radius: 3px;
        width: 100%;
}
.form-content{
    margin-top: 0px;
    margin: 20px 0px;
        margin-top: 20px;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 100%;
    display: flex;
}
.form-content label{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    color: rgb(22, 31, 106);
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}
.form-content input{
    color: rgb(0, 0, 0);
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    width: 60%;
    display: flex;
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    transition-duration: 0.25s;
    transition-property: border, background-color;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    min-height: 40px;
}
.form-content input:focus{
    border: 2px solid rgb(0, 197, 141);
}
.form-content textarea{
    color: rgb(0, 0, 0);
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    width: 60%;
    display: flex;
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    transition-duration: 0.25s;
    transition-property: border, background-color;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    min-height: 40px;
    max-height: 70px;
}
.form-content textarea:focus{
    border: 2px solid rgb(0, 197, 141);
}

.full-md-cate{
    display: flex;
    flex-basis: 100%;
max-width: 100%;
flex-wrap: wrap;
}
header{
    display: flex;
    margin-bottom: 30px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;

}
.full-md-cate button{
        background-color: rgb(0, 197, 141);
        color: rgb(255, 255, 255);
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 12px;
        padding-top: 12px;
        margin-right: 0px;
        margin-left: 0px;
        cursor: pointer;
        transition-property: background;
        -moz-appearance: none;
        text-decoration: none;
        display: inline-flex;
        outline: currentcolor none medium;
        border-style: none;
        border-width: 0px;
        transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
        transition-duration: 0.25s;
        line-height: 24px;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: "Lato", sans-serif;
        width: 25%;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
}
.bottom{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px;
    background-color: rgb(255, 255, 255);
    height: 450px;
    width: 100%;
}
table{
    align-self: start;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: unset;
    cursor: inherit;
    color: rgb(22, 31, 106) !important;
    border-left: medium none;
    border-bottom: medium none;
    border-top: medium none;
    border-color: rgba(0, 0, 0, 0.12);
        border-top-color: rgba(0, 0, 0, 0.12);
        border-bottom-color: rgba(0, 0, 0, 0.12);
        border-left-color: rgba(0, 0, 0, 0.12);
    border-width: 1px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    background-color: rgb(255, 255, 255);
    top: 0px;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-style: solid;
        border-top-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
    line-height: 24px;
    font-weight: 700;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    -moz-box-align: center;
    align-items: center;
    display: flex;
}
table th{
    border: 1px solid rgba(0, 0, 0, 0.12) ;
    background-color: rgb(255, 255, 255);
    border-left: medium none;
    border-bottom: medium none;
    border-top: medium none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
table th:first-child{
    min-width: 30px;
}
table th{
    min-width: 200px;
}
table td{
    min-width: 30px;
}